.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.5s linear forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider-next .list .item:nth-child(1) img {
  animation: slideIn 0.5s forwards;
}

.slider-prev .list .item:nth-child(2) img {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
